.view {
    background: url("assets/cover.jpg")no-repeat center center;
    background-size: cover;
}

@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}

h1 {
	font-size: 4em;
	color: white;
    font-weight: 400;
}

.card-body {
	width:30%;
	margin: 50px auto;
	border: 2px solid teal;
}

li span {
    color: red;
}